*.jl.cov
*.jl.mem
/deps/deps.jl
/deps/src/libqdel/libqdel.dylib
/deps/libQuasiDefinite.dylib
/deps/libQuasiDefinite.so
/deps/say_hello.o
/deps/usr/
/deps/dqdtrf.o
/deps/libQuasiDefinite.a
/deps/libQuasiDefinite.a.renamed
/deps/objconv
/deps/objconv-dir/
/deps/objconv-src/
/deps/objconv.zip
/deps/dqdtf2.o
